*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    border: 5px solid #4a4d50c5;
    display: flex;
    max-width: 500px;
    min-height: 600px;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background: #142d4ce4; 
    overflow: hidden;
}

.mainScreen {
    display: flex;
    height: 125px;
    font-size: 3rem;
    padding: 5px;
    justify-content: flex-end;
    align-items: flex-end;
    background: #ececec;
    border-bottom: solid 3px black;
}

.runningTotalScreen {
    font-size: 1rem;
    display: flex;
    padding: 10px;
    height: 50px;
    background: #ececec;
}

.row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 5px;
}

.button {
    border: 2px solid rgb(0, 0, 0);
    background: #b6e3d9d3; 
    box-shadow: 3px 1px 1px 1px #717171e2; ;
    border-radius: 100%;
    font-size: 42px;
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#equalsButton {
    width: 230px;
}